* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #9df2ee;
  background: #161219;
}

a {
  color: inherit;
  text-decoration: none;
}
